body
{
    font-family:'Arvo',serif;
}

.height
{
min-height: 100vh;
}

.title-underline{
    width: 200px;
    height: 10px;
    margin:0 auto;

}

.height-80
{
min-height: 80vh;
}


.about-picture{
    background: url(../img/pexels-photo-2019028.jpeg)center/cover no-repeat fixed;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */

}
 

#filler,
#progress{
    background:linear-gradient(rgb(0,0,0,.7),rgb(0,0,0,.7)), url(../img/funny.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
/* #filler{
 
    background:linear-gradient(rgba(63, 60, 11, 0.5),rgba(255, 159, 15, 0.9));

} */

.test{

    background:linear-gradient(rgb(0,0,0,.7),rgb(0,0,0,.7)), url(../img/funny.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
